.bar {
    display: flex;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px 10px ;

    justify-content: center;
    align-items: center;
}
.bar .logo {
    margin-right: auto;
}
.bar .menu-items {
    display: flex;
    gap: 30px;
    
    justify-content: center;
    align-items: center;
}
.loginLink {
    padding: 7px 15px;
    background-color: hsl(0, 0%, 93%);
    color: black;
    border-radius: 8px;
    transition: 100ms ease;
}
.loginLink:hover {
    background-color: hsl(0, 0%, 88%);
}